
.error-container{
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-family: "Fira Sans",sans-serif;
  text-align: center;
  color: #565656;
}
.card-container{
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 5rem;
}
body{
  background-color: rgb(248, 248, 248);
}

button{
  align-items: center;
  text-align: center;
  width: 12rem;
  height: 3rem;
  background-color: rgb(50,106, 118);
  border: none;
  border-radius: 150px;
  font-family: "Fira Sans",sans-serif;
  font-weight: bold;
  color: white;
  border: 1px solid transparent;
}
/* .card {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 210px 180px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: "Fira Sans",sans-serif;
  background: #FFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
  text-align: center;

  transition: 0.5s ;
  cursor: pointer;
} */
.card {
  display: grid;
  grid-template-columns: 550px;
  grid-template-rows: 230px 180px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: "Fira Sans",sans-serif;
  /* border-radius: 18px; */
  background: #FFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
  text-align: center;

  transition: 0.5s ;
  cursor: pointer;
}

.card-image-1{
  grid-area: image;
  background: url('./images/structures.jpg');
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  background-size: contain;

}
.card-image-2{
  grid-area: image;
  background: url('./images/ecommerce.jpg');
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  background-size: cover
}
.card-image-3{
  grid-area: image;
  background: url('./images/resource.jpg');
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  background-size: cover;
  /* filter: blur(8px); */

  
}

.card-text{
  grid-area: text;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text p {
  color: rgb(73, 73, 73);
  font-size: 15px;
  font-weight: 300;
  color: #565656;
}

.card-text h2{
  margin-top: 0px;
  font-size: 28px ;
}

.card-stats{
  grid-area: stats;
}

.card:hover{
/* transform: scale(1.1); */
box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}


button:hover{
  /* background-color: grey; */
  cursor: pointer;
  background-color: rgba(50,106, 118, 0.7);


}

.center{
  text-align: center;
  font-family: "Fira Sans",sans-serif;
  font-size: 30px;
  color: #565656;
  font-weight: 400;
}

.arrow {
  padding: 0 0 0 15px;
}